In [225]:
import numpy as np
import pandas as pd

In [226]:
data_dir = '/Users/ksivanathan/Desktop/USF/DataViz/FinalProject_Comics/Datasets/'

In [227]:
stats = pd.read_csv(data_dir + 'superhero_stats_OG.csv')

## Processing superhero_stats.csv

In [228]:
stats.head()

,Unnamed: 0,Unnamed: 0.1,Name,Url,Intelligence,Strength,Speed,Durability,Power,Combat,...,Height,Weight,Eye color,Hair color,Occupation,Base,Team Affiliation,Relatives,Skin color,Total Power
0,0,0,3-D Man,/3-d-man/10-226/,80.0,35.0,45.0,35.0,25.0,55.0,...,6'2 // 188 cm,200 lb // 90 kg,Brown,Grey,"Test pilot, adventurer",-,"Agents of Atlas, Asgardians, Formerly: Avengers","Hal Chandler (brother), Peggy Clark (sister-in...",NaN,275.0
1,1,1,A-Bomb,/a-bomb/10-10060/,75.0,100.0,20.0,80.0,25.0,65.0,...,6'8 // 203 cm,980 lb // 441 kg,Yellow,No Hair,"Musician, adventurer, author; formerly talk sh...",-,"Teen Brigade (Leader), Ultimate Fantastic Four...",Marlo Chandler-Jones (wife); Polly (aunt); Mrs...,NaN,365.0
2,2,2,Abe Sapien,/abe-sapien/10-956/,95.0,30.0,35.0,65.0,100.0,85.0,...,6'3 // 191 cm,145 lb // 65 kg,Blue,No Hair,Paranormal Investigator,-,Bureau for Paranormal Research and Defense,"Edith Howard (wife, deceased)",Blue,410.0
3,3,3,Abin Sur,/abin-sur/10-1460/,80.0,90.0,55.0,65.0,100.0,65.0,...,6'1 // 185 cm,200 lb // 90 kg,Blue,No Hair,"Green Lantern, former history professor",Oa,"Legion of Super-Heroes, Formerly: Green Lanter...","Amon Sur (son), Arin Sur (sister), Thaal Sines...",Red,455.0
4,4,4,Abomination,/abomination/10-1/,85.0,80.0,55.0,90.0,65.0,95.0,...,6'8 // 203 cm,980 lb // 441 kg,Green,No Hair,Ex-Spy,Mobile,"Annihilators (Leader), Wrecking Crew, Masters ...","Nadia Dornova Blonsky (wife, separated)",NaN,470.0

In [229]:
stats.shape

(743, 29)

There are 743 records and 29 features

In [230]:
stats.nunique(axis=0) # Shows the unique values for each column

Unnamed: 0          743
Unnamed: 0.1        743
Name                718
Url                 743
Intelligence         12
Strength             20
Speed                20
Durability           20
Power                21
Combat               21
Full name           545
Alter Egos          212
Aliases             494
Place of birth      243
First appearance    567
Creator              25
Alignment             4
Gender                3
Race                 65
Height               71
Weight              171
Eye color            25
Hair color           31
Occupation          390
Base                290
Team Affiliation    446
Relatives           463
Skin color           16
Total Power          93
dtype: int64

In [231]:
stats['Alignment'].unique()

array(['good', 'bad', '-', 'neutral'], dtype=object)

In [232]:
stats['Gender'].unique()

array(['Male', 'Female', '-'], dtype=object)

### Cleaning

In [233]:
stats.isna().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Name                  0
Url                   0
Intelligence         78
Strength             78
Speed                78
Durability           78
Power                78
Combat               78
Full name             0
Alter Egos            0
Aliases               0
Place of birth        0
First appearance      0
Creator               8
Alignment             0
Gender                0
Race                  0
Height                0
Weight                0
Eye color             0
Hair color            0
Occupation            0
Base                  0
Team Affiliation      0
Relatives             0
Skin color          669
Total Power           0
dtype: int64

In [234]:
#Dropping unnecessary columns from data frame
stats_clean = stats.drop(['Unnamed: 0','Unnamed: 0.1','Url','Creator','Hair color','Eye color',
                          'Occupation','Alter Egos','Aliases','Place of birth','Skin color',
                         'First appearance','Team Affiliation','Relatives','Race','Base','Full name',
                          'Total Power','Height','Weight','Gender','Alignment'], axis = 1)

In [235]:
stats_clean

                Name  Intelligence  Strength  Speed  Durability  Power  Combat
0            3-D Man          80.0      35.0   45.0        35.0   25.0    55.0
1             A-Bomb          75.0     100.0   20.0        80.0   25.0    65.0
2         Abe Sapien          95.0      30.0   35.0        65.0  100.0    85.0
3           Abin Sur          80.0      90.0   55.0        65.0  100.0    65.0
4        Abomination          85.0      80.0   55.0        90.0   65.0    95.0
..               ...           ...       ...    ...         ...    ...     ...
738  Yellowjacket II          80.0      10.0   35.0        30.0   35.0    30.0
739             Ymir          80.0     100.0   30.0       100.0  100.0    30.0
740             Yoda          95.0      55.0   35.0        25.0  100.0    90.0
741          Zatanna          95.0      10.0   25.0        30.0  100.0    60.0
742             Zoom          80.0      10.0  100.0        30.0  100.0    30.0

[743 rows x 7 columns]

In [236]:
#For characters which do not have a gender --> Unknown

#stats_clean['Gender'] = stats_clean['Gender'].str.replace('-','Unknown')

In [237]:
#For characters with no alignment --> get put to Neutral

#stats_clean['Alignment'] = stats_clean['Alignment'].str.replace('-','neutral')

In [238]:
#Filling missing values for the statistics Intelligence, Strength, Speed, Durability, Power, Combat 
stats_clean['Intelligence'].fillna(stats_clean['Intelligence'].median(), inplace=True)
stats_clean['Strength'].fillna(stats_clean['Strength'].median(), inplace=True)
stats_clean['Speed'].fillna(stats_clean['Speed'].median(), inplace=True)
stats_clean['Durability'].fillna(stats_clean['Durability'].median(), inplace=True)
stats_clean['Power'].fillna(stats_clean['Power'].median(), inplace=True)
stats_clean['Combat'].fillna(stats_clean['Combat'].median(), inplace=True)

In [239]:
#Getting the average of the 6 different features to create a new feature called 'Overall'
stats_clean['Overall'] = stats_clean.mean(numeric_only=True, axis=1)

#Rounding overall to 1 decimal place
stats_clean['Overall'] = stats_clean['Overall'].round(1)

In [240]:
#Statistic of Character dataset fully cleaned
stats_clean

,Name,Intelligence,Strength,Speed,Durability,Power,Combat,Overall
0,3-D Man,80.0,35.0,45.0,35.0,25.0,55.0,45.8
1,A-Bomb,75.0,100.0,20.0,80.0,25.0,65.0,60.8
2,Abe Sapien,95.0,30.0,35.0,65.0,100.0,85.0,68.3
3,Abin Sur,80.0,90.0,55.0,65.0,100.0,65.0,75.8
4,Abomination,85.0,80.0,55.0,90.0,65.0,95.0,78.3
...,...,...,...,...,...,...,...,...
738,Yellowjacket II,80.0,10.0,35.0,30.0,35.0,30.0,36.7
739,Ymir,80.0,100.0,30.0,100.0,100.0,30.0,73.3
740,Yoda,95.0,55.0,35.0,25.0,100.0,90.0,66.7
741,Zatanna,95.0,10.0,25.0,30.0,100.0,60.0,53.3
742,Zoom,80.0,10.0,100.0,30.0,100.0,30.0,58.3

In [241]:
stats_clean = stats_clean.sort_values(by=['Overall'],ascending=False)

In [242]:
#This dataset to be used for the interactive bar chart
stats_clean.to_csv(data_dir + 'statistics_full.csv', index = False)

### Getting a random sample of 30

In [243]:
#Getting a random sample of 30 
stats_30 = stats_clean.sample(n=30, random_state=1)

In [244]:
stats_30 = stats_30.sort_values(by=['Overall'],ascending=False)

In [252]:
stats_30

,Name,Intelligence,Strength,Speed,Durability,Power,Combat,Overall
80,Beyonder,100.0,100.0,100.0,100.0,100.0,85.0,97.5
529,Power Girl,100.0,100.0,100.0,100.0,100.0,75.0,95.8
427,Magus,95.0,100.0,70.0,100.0,100.0,75.0,90.0
12,Air-Walker,80.0,85.0,100.0,85.0,100.0,40.0,81.7
462,Mister Sinister,100.0,50.0,50.0,90.0,100.0,50.0,73.3
391,King Shark,80.0,90.0,50.0,90.0,90.0,40.0,73.3
254,Fin Fang Foom,80.0,85.0,25.0,100.0,75.0,70.0,72.5
206,Darth Maul,80.0,50.0,50.0,30.0,100.0,100.0,68.3
357,Jason Voorhees,85.0,35.0,25.0,100.0,100.0,50.0,65.8
502,Offspring,80.0,10.0,35.0,100.0,100.0,60.0,64.2
690,Ultragirl,80.0,80.0,35.0,70.0,35.0,80.0,63.3
566,Ripcord,85.0,40.0,35.0,65.0,70.0,65.0,60.0
418,Luke Campbell,85.0,40.0,35.0,65.0,70.0,65.0,60.0
489,Nathan Petrelli,85.0,40.0,35.0,65.0,70.0,65.0,60.0
378,K-2SO,85.0,40.0,35.0,65.0,70.0,65.0,60.0
504,Omniscient,85.0,40.0,35.0,65.0,70.0,65.0,60.0
455,Minna Murray,85.0,40.0,35.0,65.0,70.0,65.0,60.0
674,Thunderbird III,85.0,40.0,35.0,65.0,70.0,65.0,60.0
69,Batman,100.0,20.0,30.0,50.0,50.0,100.0,58.3
620,Space Ghost,75.0,20.0,35.0,40.0,95.0,80.0,57.5
482,Mysterio,95.0,10.0,20.0,40.0,85.0,70.0,53.3
333,Hope Summers,85.0,10.0,15.0,35.0,95.0,75.0,52.5
205,Darkstar,75.0,10.0,35.0,45.0,80.0,65.0,51.7
187,Corsair,70.0,35.0,45.0,35.0,45.0,75.0,50.8
552,Red Hood,90.0,15.0,25.0,30.0,35.0,95.0,48.3
73,Batwoman V,95.0,10.0,30.0,25.0,30.0,80.0,45.0
173,Cheetah II,75.0,20.0,45.0,20.0,40.0,60.0,43.3
84,Big Man,90.0,15.0,25.0,30.0,20.0,70.0,41.7
496,Nina Theroux,85.0,5.0,10.0,10.0,70.0,20.0,33.3
200,Daphne Powell,75.0,10.0,10.0,10.0,60.0,10.0,29.2

In [248]:
#stats_30.to_dict(orient='records')

In [247]:
stats_30.to_csv(data_dir + 'statistics_30.csv', index = False)

In [ ]:
#http://bl.ocks.org/jonahwilliams/2f16643b999ada7b1909