In [185]:
import pandas as pd
from sklearn import preprocessing

In [93]:
data_dir = '/Users/ksivanathan/Desktop/USF/DataViz/FinalProject_Comics/Datasets/'

### Marvel Dataset

In [94]:
marvel = pd.read_csv(data_dir + 'marvel_data_OG.csv')

In [95]:
marvel

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [96]:
marvel.shape

(16376, 13)

In [97]:
marvel.nunique(axis=0) # Shows the unique values for each column

page_id             16376
name                16376
urlslug             16376
ID                      4
ALIGN                   3
EYE                    24
HAIR                   25
SEX                     4
GSM                     6
ALIVE                   2
APPEARANCES           358
FIRST APPEARANCE      832
Year                   75
dtype: int64

In [98]:
marvel['GSM'].unique()

array([nan, 'Bisexual Characters', 'Transvestites',
       'Homosexual Characters', 'Pansexual Characters',
       'Transgender Characters', 'Genderfluid Characters'], dtype=object)

In [99]:
marvel['ALIGN'].unique()

array(['Good Characters', 'Neutral Characters', 'Bad Characters', nan],
      dtype=object)

In [100]:
marvel['ID'].unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity',
       'Known to Authorities Identity', nan], dtype=object)

In [101]:
marvel['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters', nan], dtype=object)

In [102]:
marvel['SEX'].unique()

array(['Male Characters', 'Female Characters', 'Genderfluid Characters',
       'Agender Characters', nan], dtype=object)

### Cleaning the Data

In [103]:
marvel.isna().sum()

page_id                 0
name                    0
urlslug                 0
ID                   3770
ALIGN                2812
EYE                  9767
HAIR                 4264
SEX                   854
GSM                 16286
ALIVE                   3
APPEARANCES          1096
FIRST APPEARANCE      815
Year                  815
dtype: int64

In [104]:
#Percentage Missing
(marvel.isna().sum() / len(marvel))*100

page_id              0.000000
name                 0.000000
urlslug              0.000000
ID                  23.021495
ALIGN               17.171470
EYE                 59.642159
HAIR                26.038105
SEX                  5.214949
GSM                 99.450415
ALIVE                0.018319
APPEARANCES          6.692721
FIRST APPEARANCE     4.976795
Year                 4.976795
dtype: float64

In [105]:
#Remove GSM, HAIR, EYE, FIRST APPEARANCE, Year, urlslug,APPEARANCES
marvel_clean = marvel.drop(['GSM','HAIR','FIRST APPEARANCE','APPEARANCES','EYE','Year','urlslug'], axis = 1)

In [106]:
#Create column 'Universe' == Marvel 
marvel_clean['Universe'] = 'Marvel'

In [107]:
#Filling the missing values for ALIGN, ID, ALIVE, SEX

In [108]:
marvel_clean['ALIGN'] = marvel_clean['ALIGN'].fillna('Neutral Characters')

In [109]:
marvel_clean['ID'] = marvel_clean['ID'].fillna('Secret Identity')

In [110]:
marvel_clean['ALIVE'] = marvel_clean['ALIVE'].fillna('Unknown')

In [111]:
marvel_clean['SEX'] = marvel_clean['SEX'].fillna('Unknown')

In [112]:
marvel_clean

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
0,1678,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
1,7139,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
2,64786,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters,Living Characters,Marvel
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters,Living Characters,Marvel
4,2460,Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters,Living Characters,Marvel
...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),No Dual Identity,Bad Characters,Male Characters,Living Characters,Marvel
16372,665474,Thane (Thanos' son) (Earth-616),No Dual Identity,Good Characters,Male Characters,Living Characters,Marvel
16373,695217,Tinkerer (Skrull) (Earth-616),Secret Identity,Bad Characters,Male Characters,Living Characters,Marvel
16374,708811,TK421 (Spiderling) (Earth-616),Secret Identity,Neutral Characters,Male Characters,Living Characters,Marvel
16375,673702,Yologarch (Earth-616),Secret Identity,Bad Characters,Unknown,Living Characters,Marvel

### DC Dataset

In [113]:
dc = pd.read_csv(data_dir + 'DC_data_OG.csv')

In [114]:
dc

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [115]:
dc.shape

(6896, 13)

In [116]:
dc.nunique(axis=0) # Shows the unique values for each column

page_id             6896
name                6896
urlslug             6896
ID                     3
ALIGN                  4
EYE                   17
HAIR                  17
SEX                    4
GSM                    2
ALIVE                  2
APPEARANCES          282
FIRST APPEARANCE     774
YEAR                  79
dtype: int64

In [117]:
dc['GSM'].unique()

array([nan, 'Bisexual Characters', 'Homosexual Characters'], dtype=object)

In [118]:
dc['ALIGN'].unique()

array(['Good Characters', 'Bad Characters', 'Neutral Characters', nan,
       'Reformed Criminals'], dtype=object)

In [119]:
dc['SEX'].unique()

array(['Male Characters', 'Female Characters', nan,
       'Genderless Characters', 'Transgender Characters'], dtype=object)

In [120]:
dc['ID'].unique()

array(['Secret Identity', 'Public Identity', nan, 'Identity Unknown'],
      dtype=object)

In [121]:
dc['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters', nan], dtype=object)

### Cleaning the Data

In [122]:
dc.isna().sum()

page_id                0
name                   0
urlslug                0
ID                  2013
ALIGN                601
EYE                 3628
HAIR                2274
SEX                  125
GSM                 6832
ALIVE                  3
APPEARANCES          355
FIRST APPEARANCE      69
YEAR                  69
dtype: int64

In [123]:
(dc.isna().sum() / len(dc))*100

page_id              0.000000
name                 0.000000
urlslug              0.000000
ID                  29.190835
ALIGN                8.715197
EYE                 52.610209
HAIR                32.975638
SEX                  1.812645
GSM                 99.071926
ALIVE                0.043503
APPEARANCES          5.147912
FIRST APPEARANCE     1.000580
YEAR                 1.000580
dtype: float64

In [124]:
#Remove GSM, HAIR, EYE, FIRST APPEARANCE, YEAR, urlslug,APPEARANCES
dc_clean = dc.drop(['GSM','HAIR','FIRST APPEARANCE','APPEARANCES','EYE','YEAR','urlslug'], axis = 1)

In [125]:
dc_clean

,page_id,name,ID,ALIGN,SEX,ALIVE
0,1422,Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters
1,23387,Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters
2,1458,Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters
3,1659,James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
4,1576,Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters
...,...,...,...,...,...,...
6891,66302,Nadine West (New Earth),Public Identity,Good Characters,Female Characters,Living Characters
6892,283475,Warren Harding (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
6893,283478,William Harrison (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
6894,283471,William McKinley (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
6895,150660,Mookie (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters

In [126]:
#Create column 'Universe' == DC 
dc_clean['Universe'] = 'DC'

In [127]:
#Filling the missing values for ID, ALIGN, SEX, ALIVE

In [128]:
dc_clean['ALIGN'] = dc_clean['ALIGN'].fillna('Neutral Characters')

In [129]:
dc_clean['ID'] = dc_clean['ID'].fillna('Identity Unknown')

In [130]:
dc_clean['ALIVE'] = dc_clean['ALIVE'].fillna('Unknown')

In [131]:
dc_clean['SEX'] = dc_clean['SEX'].fillna('Unknown')

In [132]:
dc_clean

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
0,1422,Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters,DC
1,23387,Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters,DC
2,1458,Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters,DC
3,1659,James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,DC
4,1576,Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters,DC
...,...,...,...,...,...,...,...
6891,66302,Nadine West (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
6892,283475,Warren Harding (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,DC
6893,283478,William Harrison (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,DC
6894,283471,William McKinley (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,DC
6895,150660,Mookie (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters,DC

### Joining the DC and Marvel Datasets

In [133]:
join = [dc_clean,marvel_clean]

In [134]:
dc_marvel = pd.concat(join)

In [135]:
dc_marvel['ALIGN'] = dc_marvel['ALIGN'].str.replace('Good Characters','Good')
dc_marvel['ALIGN'] = dc_marvel['ALIGN'].str.replace('Bad Characters','Bad')
dc_marvel['ALIGN'] = dc_marvel['ALIGN'].str.replace('Neutral Characters','Neutral')

In [136]:
dc_marvel['SEX'] = dc_marvel['SEX'].str.replace('Male Characters','Male')
dc_marvel['SEX'] = dc_marvel['SEX'].str.replace('Female Characters','Female')
dc_marvel['SEX'] = dc_marvel['SEX'].str.replace('Genderless Characters','Genderless')
dc_marvel['SEX'] = dc_marvel['SEX'].str.replace('Transgender Characters','Transgender')
dc_marvel['SEX'] = dc_marvel['SEX'].str.replace('Genderfluid Characters','Genderfluid')
dc_marvel['SEX'] = dc_marvel['SEX'].str.replace('Agender Characters','A-Gender')

In [137]:
dc_marvel['ALIVE'] = dc_marvel['ALIVE'].str.replace('Living Characters','Living')
dc_marvel['ALIVE'] = dc_marvel['ALIVE'].str.replace('Deceased Characters','Deceased')

In [138]:
dc_marvel = dc_marvel.drop(['page_id'], axis = 1)

In [156]:
#Removing Characters who have a neutral alignment
dc_marvel = dc_marvel[dc_marvel['ALIGN'] != 'Neutral']

In [158]:
dc_marvel

,name,ID,ALIGN,SEX,ALIVE,Universe
0,Batman (Bruce Wayne),Secret Identity,Good,Male,Living,DC
1,Superman (Clark Kent),Secret Identity,Good,Male,Living,DC
2,Green Lantern (Hal Jordan),Secret Identity,Good,Male,Living,DC
3,James Gordon (New Earth),Public Identity,Good,Male,Living,DC
4,Richard Grayson (New Earth),Secret Identity,Good,Male,Living,DC
...,...,...,...,...,...,...
16369,Melanie Kapoor (Earth-616),Public Identity,Good,Female,Living,Marvel
16371,Ru'ach (Earth-616),No Dual Identity,Bad,Male,Living,Marvel
16372,Thane (Thanos' son) (Earth-616),No Dual Identity,Good,Male,Living,Marvel
16373,Tinkerer (Skrull) (Earth-616),Secret Identity,Bad,Male,Living,Marvel
16375,Yologarch (Earth-616),Secret Identity,Bad,Unknown,Living,Marvel

In [161]:
dc_marvel.to_csv(data_dir + 'DC_Marvel.csv', index = False)

----

In [162]:
#Getting a sample of 20 characters

In [174]:
characters_20 = dc_marvel.sample(n=20, random_state=1)

In [175]:
characters_20

,name,ID,ALIGN,SEX,ALIVE,Universe
1738,LeTonya Charles (New Earth),Identity Unknown,Bad,Female,Living,DC
8033,Moloka Dar (Earth-616),No Dual Identity,Bad,Male,Living,Marvel
4248,Marcia Long (New Earth),Public Identity,Good,Female,Living,DC
3472,Jamal Stuart (New Earth),Public Identity,Good,Male,Living,DC
12808,Tom Orzechowski (Earth-616),Public Identity,Bad,Unknown,Living,Marvel
9361,Briquette (Earth-616),Secret Identity,Bad,Female,Living,Marvel
7141,Quirt (Earth-616),Public Identity,Bad,Male,Living,Marvel
51,Theodore Knight (New Earth),Secret Identity,Good,Male,Deceased,DC
3571,Seraph (New Earth),Public Identity,Good,Female,Living,DC
3227,Arrakhat (New Earth),Identity Unknown,Bad,Male,Living,DC
7700,Efrain Normas (Earth-616),Secret Identity,Bad,Male,Living,Marvel
11848,Kalya (Earth-616),Secret Identity,Bad,Male,Living,Marvel
279,Enya Wazzo (New Earth),Secret Identity,Good,Female,Living,DC
407,Joshua Foley (Earth-616),Secret Identity,Good,Male,Living,Marvel
5036,Yellow of the Rainbow Raiders (New Earth),Secret Identity,Bad,Female,Deceased,DC
223,Ultron (Earth-616),No Dual Identity,Bad,Male,Deceased,Marvel
8733,Jacob Bolt (Earth-616),Public Identity,Good,Male,Living,Marvel
3759,Fashima (Earth-616),Secret Identity,Bad,Female,Living,Marvel
14139,Yorkie Mitchell (Earth-616),Secret Identity,Good,Male,Living,Marvel
13104,Shalak (Earth-616),Secret Identity,Good,Male,Living,Marvel

In [203]:
nodes = characters_20.iloc[:,:1]
nodes

                                            name
1738                 LeTonya Charles (New Earth)
8033                      Moloka Dar (Earth-616)
4248                     Marcia Long (New Earth)
3472                    Jamal Stuart (New Earth)
12808                Tom Orzechowski (Earth-616)
9361                       Briquette (Earth-616)
7141                           Quirt (Earth-616)
51                   Theodore Knight (New Earth)
3571                          Seraph (New Earth)
3227                        Arrakhat (New Earth)
7700                   Efrain Normas (Earth-616)
11848                          Kalya (Earth-616)
279                       Enya Wazzo (New Earth)
407                     Joshua Foley (Earth-616)
5036   Yellow of the Rainbow Raiders (New Earth)
223                           Ultron (Earth-616)
8733                      Jacob Bolt (Earth-616)
3759                         Fashima (Earth-616)
14139                Yorkie Mitchell (Earth-616)
13104                         Shalak (Earth-616)

In [195]:
edges.to_csv(data_dir + 'edge.csv', index = False)
nodes.to_csv(data_dir + 'node.csv', index = False)
#characters_20.to_csv(data_dir + 'character_20.csv', index = False)